.login-bg {
  background: url("../../../../public/assets/img/bgs/landscape.jpg") no-repeat center center fixed;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bgs/landscape.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bgs/landscape.jpg', sizingMethod='scale')";
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-wrapper {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  text-align: center;
}

.login-wrapper .logo {
  margin-bottom: 45px;
  position: relative;
  left: -2px;
}

.login-wrapper .box {
  margin: 0 auto;
  padding: 35px 0 30px;
  float: none;
  width: 400px;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.65);
}

.login-wrapper .box .content-wrap {
  width: 82%;
  margin: 0 auto;
}

.login-wrapper .box h6 {
  text-transform: uppercase;
  margin: 0 0 30px 0;
  font-size: 18px;
  font-weight: 600;
}

.login-wrapper .box .zone_of_danger {
  margin-bottom: 18px;
}

.login-wrapper .box input[type="text"],
.login-wrapper .box input[type="password"] {
  font-size: 15px;
  height: 40px;
  border-color: #b2bfc7;
  padding-left: 12px;
}

.login-wrapper .box input[type="password"] {
  margin-bottom: 10px;
}

.login-wrapper .box input:-moz-placeholder {
  color: #9ba8b6;
  font-size: 15px;
  letter-spacing: 0px;
  font-style: italic;
}

.login-wrapper .box input:-ms-input-placeholder {
  color: #9ba8b6;
  font-style: italic;
  letter-spacing: 0px;
  font-size: 15px;
}

.login-wrapper .box input::-webkit-input-placeholder {
  color: #9ba8b6;
  font-style: italic;
  letter-spacing: 0px;
  font-size: 15px;
}

.login-wrapper .box a.forgot {
  display: block;
  text-align: right;
  font-style: italic;
  text-decoration: underline;
  color: #3d88ba;
  font-size: 13px;
  margin-bottom: 6px;
}

.login-wrapper .box .remember {
  display: block;
  overflow: hidden;
  margin-bottom: 20px;
}

.login-wrapper .box .remember input[type="checkbox"] {
  float: left;
  margin-right: 8px;
}

.login-wrapper .box .remember label {
  float: left;
  color: #4a576a;
  font-size: 13px;
  font-weight: 600;
}

.login-wrapper .box .login {
  text-transform: uppercase;
  font-size: 13px;
  padding: 8px 30px;
}

.login-wrapper .no-account {
  margin: 0 auto;
  float: none;
  text-align: center;
  font-size: 14px;
  margin-top: 25px;
}

.login-wrapper .no-account p {
  display: inline-block;
  color: #aaaaaa;
}

.login-wrapper .no-account a {
  color: #aaaaaa;
  margin-left: 7px;
  border-bottom: 1px solid;
  transition: all .1s linear;
  -moz-transition: all .1s linear;
  /* Firefox 4 */
  -webkit-transition: all .1s linear;
  /* Safari and Chrome */
  -o-transition: all .1s linear;
  /* Opera */
}

.login-wrapper .no-account a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom-color: #fff;
}

/* background switcher */

.bg-switch {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  top: 60px;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 10px 0px 10px;
  z-index: 999;
}

.bg-switch .bgs .bg {
  text-align: center;
  margin-bottom: 13px;
  text-decoration: none;
  display: block;
}

.bg-switch .bgs .bg.active img {
  border-color: #000;
}

.bg-switch .bgs .bg img {
  width: 80px;
  height: 60px;
  border: 2px solid #9fcef1;
  cursor: pointer;
}

/* responsive */

@media (max-width: 767px) {
  .login-wrapper .box {
    width: 350px;
  }
}

@media (max-width: 480px) {
  .login-wrapper .box {
    width: 90%;
  }
}
#pad-wrapper {
  /* separator */
  /* pop dialogs specific styles */
}

#pad-wrapper .title {
  margin-bottom: 30px;
}

#pad-wrapper .section {
  margin-bottom: 40px;
}

#pad-wrapper .section a.btn-flat,
#pad-wrapper .section a.btn-glow {
  margin-right: 5px;
}

#pad-wrapper .section.btns a.btn-flat,
#pad-wrapper .section.btns a.btn-glow {
  margin-bottom: 12px;
}

#pad-wrapper .section code {
  margin-right: 25px;
}

#pad-wrapper .section .btn-group i {
  color: #7d8892;
}

#pad-wrapper .section .btn-group.audio i {
  color: #96a9b8;
  font-size: 12px;
}

#pad-wrapper .ctrls {
  margin-bottom: 20px;
}

#pad-wrapper .ctrls .btn-glow {
  margin-right: 8px;
}

#pad-wrapper .ctrls .btn-flat.icon {
  margin-right: 8px;
}

#pad-wrapper .ctrls .btn-group.settings {
  margin-left: 20px;
}

#pad-wrapper .ctrls .btn-group.settings i {
  font-size: 13px;
  color: #444;
}

#pad-wrapper .ctrls .slider-frame {
  margin-right: 10px;
}

#pad-wrapper .ctrls .pagination {
  margin: 5px 0px;
}

#pad-wrapper .ctrls .pagination.inverse {
  margin-left: 25px;
}

#pad-wrapper .ctrls h4 {
  margin: 20px 0px 20px 0px;
}

#pad-wrapper .ctrls .dropdown .dropdown-menu {
  margin-right: 10px;
  position: static;
  display: block;
}

#pad-wrapper .ctrls .nav-tabs {
  margin-bottom: 15px;
}

#pad-wrapper .ctrls .tab-content {
  padding: 0px 10px;
  margin-bottom: 20px;
}

#pad-wrapper .sliders .slider {
  margin-bottom: 20px;
}

#pad-wrapper .separator {
  border-top: 1px solid #edeff1;
  margin-top: 100px;
  padding-top: 45px;
  box-shadow: inset 0px 3px 4px -1px #fafafa;
}

#pad-wrapper .section.dialogs h4 {
  margin-bottom: 30px;
}

/* for menu dialog sample */

.pop-dialog .menu {
  width: 200px;
  margin: 5px -10px 0px -10px;
}

.pop-dialog .menu .item {
  display: block;
  padding: 5px 0px 5px 20px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  margin-bottom: 5px;
}

.pop-dialog .menu .item:hover {
  background-color: #30a1ec;
  color: #fff;
}

.pop-dialog .menu .footer {
  border-top: 1px solid #e6e8e9;
  background-color: #eff4f7;
  margin: 15px 0px -10px 0px;
  border-radius: 0px 0px 5px 5px;
  padding: 12px 20px;
}

.pop-dialog .menu .footer .logout {
  font-weight: 600;
  color: #7d91a8;
}

/* styles for settings dialog sample */

.pop-dialog.full {
  width: 100%;
}

.pop-dialog .settings {
  width: auto;
  margin: 5px -10px 0px -10px;
  position: relative;
}

.pop-dialog .settings .close-icon {
  text-decoration: none;
  position: absolute;
  top: -18px;
  right: 10px;
}

.pop-dialog .settings .icon-remove-sign {
  font-size: 15px;
  color: #95a8b7;
  cursor: pointer;
}

.pop-dialog .settings .items {
  margin-top: 15px;
}

.pop-dialog .settings .items .item {
  display: block;
  padding: 7px 0px 7px 20px;
  color: #333;
  font-size: 13px;
  font-weight: 600;
  border-top: 1px solid #e6e8e9;
}

.pop-dialog .settings .items .item:hover {
  color: #6187c0;
}

.pop-dialog .settings .items .item:first-child {
  border-top: 0px;
}

.pop-dialog .settings .items .item .check {
  float: right;
  margin-right: 30px;
}

.pop-dialog .settings .items .item .icon-reorder {
  color: #d9e4ee;
  font-size: 18px;
  margin-right: 13px;
}

@media (min-width: 768px) and (max-width: 979px) {
  #pad-wrapper .section.dialogs > .span4 {
    width: 100%;
    margin-bottom: 30px;
  }
}